.colorTransparent {
  opacity: 0.7;
}
.headerCard {
  position: relative;
  margin: 0;
  padding: 0;
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #132545;
}
.headerCard h3 {
  padding-top: 15px;
  color: white;
}
.chartAsist {
    position: relative;
  width: 300px !important;
  height: 200px !important;
}
