.contenedorPadre {
  position: absolute;
  height: 100vh;
  padding: 0;
  margin: 0;
}
.headerPadre {
  background-color: #132545;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  padding-top: 20px;
}
.headerPadre h1 {
  margin: 0;
  font-size: 70px;
  color: white;
  padding-top: 30px;
  text-shadow: 4px 3px 0px #383838;
}
.icon {
  position: relative;
  top: -10px;
  width: 80px;
  height: 50px;
}
.headerPadre p {
  margin-top: 100px;
}
.formitaRedonda {
  text-align: center;
  margin: 0 auto;
  width: 450px;
  height: 150px;
  background-color: #3e5796;
  border-radius: 31% 69% 26% 74% / 46% 48% 52% 54%;
}
.formitaRedonda p {
  color: black;
}
.seAchica {
  position: absolute;
  height: 200px;
}
.seAgranda {
  position: absolute;
  height: 850px;
  transition: 3.2s;
}
.curva {
  top: 0;
}
.seAgrandaCurva {
  position: relative;
  top: 630px;
  transition: 3.2s;
}
.cursoApp {
  position: relative;
  top: 200px;
}
