<div class="m-4">
  <div>
    <mat-accordion class="dropdownMenu">
    <div class="row">
        <ul *ngFor="let i of _curso.alumnos" class="ul-student col col-md-12 col-12" style="width: 50%;">
          <mat-expansion-panel class="dropdownContent">
            <mat-expansion-panel-header class="title dropdownButton borderButtom">
              <mat-panel-title >
                {{i.name}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
              <li>Asistencias: {{ i.asistencia }}/{{_curso.totalClass}}</li>
              <li>Promedio: {{ i.qualification }}</li>
              <li>Final Pract: {{ i.finalPractico || ' Ausente'}}</li>
              <li>Final Teo: {{ i.finalTeorico || ' Ausente'}}</li>
              <li>Contratado: {{ i.contrated }}</li>
            </ul>
          </mat-expansion-panel>
        </ul>
        <!-- <div class="dropdownMenu">
          <div class="title dropdownButton borderButtom">
            <p><i class="fas fa-chevron-down"></i>{{ i.name }}</p>
          </div>
          <div class="dropdownContent">
            Hola
          </div>
        </div> -->
      </div>
    </mat-accordion>
  </div>
</div>