<div class="container">
    <div class="box closeSettings" id="box" itemid="box">
        <div class="row">
            <div class="col col-md-10">
                <h4 class="m-4">Curso de Angular</h4>
            </div>
            <div class="col col-md-2">
                <a class="btn btn-warning m-4" (click)="settings()">Abrir</a>
            </div>
            <hr>
        </div>
        <div class="centrado">
            <a class="boton botones openAsistencia" (click)='openSettings(".openAsistencia")'
                (click)='cambiarEstado1()'>Asistencias</a>
            <a class="boton openApro" (click)='openSettings(".openApro")' (click)='cambiarEstado2()'>Arobacion</a>
            <a class="boton openIngre" (click)='openSettings(".openIngre")' (click)='cambiarEstado3()'>Ingresantes</a>
            <a class="boton openCaidos" (click)='openSettings(".openCaidos")' (click)='cambiarEstado4()'>Caidos</a>
        </div>
        <hr class="">
        <div *ngIf='openAsis'>
            <div class="m-4" appReadexcel>
                <h3>Promedio de Asistencias</h3>
                <div class="row">
                    <div class="col col-md-6 col-6">
                        <div class="alert alert-success">Promedio de asistencia total: 55%</div>
                    </div>
                    <div class="col col-md-6 col-6">
                        <div class="alert alert-danger">Total de asistencias: 500 de 20 alumnos en 45 dias</div>
                    </div>
                    <div class="col col-md-6 col-6">
                        <p>Alumno con mas asistencias:<strong>Juan Guarnizo (40)</strong> </p>
                    </div>
                    <div class="col col-md-6 col-6"><p>Dias de curso: 45</p></div>
                    <div class="col col-md-12 col-xs-12">
                        <div class="alert alert-secondary">
                            La cantidad de alumnos es de 20
                        </div>
                    </div>
                </div>
                <div>
                    <h5>Lista de alumnos   Total de asistencias</h5>
                    <ul>
                        <li>Jose Garbanzo: 50 <strong>¡MVP!</strong></li>
                        <li>Jose Garbanzo: 33</li>
                        <li>Jose Garbanzo: 23</li>
                        <li>Jose Garbanzo: 10</li>
                        <li>Jose Garbanzo: 50</li>
                        <li>Jose Garbanzo: 33</li>
                        <li>Jose Garbanzo: 23</li>
                        <li>Jose Garbanzo: 10</li>
                        <li>Jose Garbanzo: 50</li>
                        <li>Jose Garbanzo: 33</li>
                        <li>Jose Garbanzo: 23</li>
                        <li>Jose Garbanzo: 10</li>
                    </ul>
                    <div>
                        <div>
                            <ul *ngFor="let i of _data.data">
                                <li>{{ i.__EMPTY }}</li>
                            </ul>
                            <!-- <button (click)='cargarDatos()'>asdas</button>
                            {{resultado}} -->
                        </div>
                    </div>
                </div>
                <!-- <ul *ngFor="let n of  | async">
                    <li>{{ n.Nombre }} {{n.Edad}} {{n.Pastores}}</li>
                </ul> -->
            </div>
        </div>
        <div *ngIf='openApro'>
            <div class="m-4">
                <h3>Promedio de Aprobacion</h3>
                <div class="row">
                    <div class="col col-6 col-md-6">
                        <div class="alert alert-success">Promedio del curso: <strong>6.8</strong></div>
                    </div>
                    <div class="col col-6 col-md-6">
                        <div class="alert alert-light">Alumno con mejor promedio: <strong>Sofia Mersel (8.4)</strong></div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf='open2'>
            <div class="m-4">

                <p>Estado 3</p>
            </div>
        </div>
        <div *ngIf='open3'>
            <div class="m-4">

                <p>Estado 4</p>
            </div>
        </div>
    </div>
</div>